*.o
*.lo
*.la
*.a
*.so
*.so.*
.libs/
.deps/
*.log
*.trs

autom4te.cache/
build-aux/
m4/
config.h
config.h.in
config.h.in~
config.status
config.guess
config.sub
configure
libtool
stamp-h1

aclocal.m4
Makefile
Makefile.in
*/Makefile
*/Makefile.in
configure~

libflex.pc

test_libflex
encode_page
decode_stream
examples/decode_wav
examples/encode_wav
examples/flex_sdr
examples/gen_baseband

*.tar.gz
*.tar.xz

debian/.debhelper/
debian/tmp/
debian/files
debian/debhelper-build-stamp
debian/*.substvars
debian/autoreconf.before
debian/autoreconf.after
debian/libflex0/
debian/libflex-dev/
